$navbar-default-border: #e5e5e5;
$navbar-margin-bottom: 50px;

@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

.alert {
   top: 50px;
   left:0;
   right: 0;
   position:absolute;
}

@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }
