<% if @sent_invites.any? %>
    <h3>Following</h3>
  <!--  <%= @sent_invites %> -->
    <ul>
      <% @sent_invites.each do |invitation| %>
          <li><%= link_to invitation.invited_user.full_name, user_path(invitation.invited_user) %></li>
      <% end %>
    </ul>
   <!-- <%= @sent_invites %>  -->
<% end %>

<% if @received_invites.any? %>
    <h3>Followers</h3>
  <!--  <%= @received_invites %> -->
    <ul>
      <% @received_invites.each do |invitation| %>
          <li><%= link_to invitation.invited_user.full_name, user_path(invitation.invited_user) %></li>
      <% end %>
    </ul>
   <!-- <%= @received_invites %> -->
<% end %>
