<h1>This will be a list of posts</h1>
<%= link_to 'New Post', new_post_path %>
<ul>
 <% relations=[] %>
   <%  current_user.sent_invites.each do |f| %>
     <% relations << f.invited_user.email %>
   <%end%>
    <%  current_user.received_invites.each do |f| %>
     <% relations << f.invited_user.email %>
   <%end%>
   <% relations << current_user.email%>
    <% @posts.each do |p| %>
       <% if relations.include?p.user.email %>
        <li>
            <h3><%= link_to p.title, post_path(p.id) %></h3>
            <p><small><strong>By: </strong><%= p.user.email %></small></p>
            <p><%= p.body %></p>
         </li>
       <% end %>
     <% end %>
 
</ul>
