<div class="container">
    <div class="users row">
        <%= paginate(@users) %>
        <% @users.each do |user| %>
        <div class="panel panel-default">
            <%= link_to user_path(user) do %>
            <div class="panel-body">
                
                <p><%= user.full_name %></p>
            </div>
            <% end %>
        </div>
        <% end %>
        <%= paginate(@users) %>
    </div>
</div>
 
